APP_URL=http://localhost
FRONTEND_URL=http://localhost:5173
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=arthurpro4
DB_DATABASE=UP
PAYMENT_WEBHOOK_SECRET=
INSTAGRAM_APP_ID=your_app_id_here
INSTAGRAM_APP_SECRET=your_app_secret_here
INSTAGRAM_REDIRECT_URI=http://localhost:5173/instagram/callback
