.box1_textEdit{
    font-size: 0.8em;
    color: gray;
}

.box1_textEdit2{
    font-size: 4em;
    color: purple;
}

#box1{
    background: linear-gradient(
        70deg,
        #080008,
        #100015,
        #150020,
        #250040
    );
    height: 100vh;
    width: 100%;
    z-index: 1;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 100px 1fr 150px 1fr 150px;
    gap: 20px;
}

#box1 p{
    color: white;
    font-size: 5em;
    text-align: center;
    padding-top: 200px;
}

#box1 h4{
    color: gray;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}

#Card {
    background-color: rgba(180, 120, 255, 0.15);
    border-radius: 15px;
    color: purple;
    border: 1px solid rgba(180, 120, 255, 0.3);
    font-size: 1em;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
}

#Ponto {
    width: 6px;
    height: 6px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
}

#box1_img {
    width: 500px;
    height: 450px;
}

#box1_img_Effect {
    width: 400px;
    height: 400px;
    background-color: #500080;
    border-radius: 50%;
    position: absolute;
    filter: blur(150px);
}

#box1_part1 {
    grid-column-start: 2;
}

#box1_part2 {
    grid-column-start: 4;
}

#SaibaMaisButton {
    width: 70px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(
        90deg,
        #6E1AD6,
        #9B2BFF
    );
}