#box1{
    background: linear-gradient(
        70deg,
        #080008,
        #100015,
        #150020,
        #250040
    );
    height: 100vh;
    width: 100%;
    z-index: 1;
}

#box1 p{
    color: white;
    font-size: 5em;
    text-align: center;
    padding-top: 200px;
}