.glow {
    position: absolute;
    width: 110px;
    height: 50px;
    border-radius: 50%;
    filter: blur(25px);
    z-index: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.glow.left {
    left: -15px;
    background: #7A1FFF;
    opacity: 0.7;
}

.glow.right {
    right: -15px;
    background: #9B2BFF;
    opacity: 0.7;
}

.box1_textEdit{
    font-size: 1em;
    color: gray;
}

.box1_textEdit2{
    font-size: 3em;
    background: linear-gradient(
        140deg,
        #7A1FFF,
        #8f67ff
    );;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#box1{
    background: linear-gradient(
        70deg,
        #080008,
        #100015,
        #150020,
        #250040
    );
    height: 100vh;
    width: 100%;
    z-index: 1;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 220px 1fr 320px 1fr 220px;
    gap: 20px;
    align-items: center;
}

#box1 p{
    color: white;
    font-size: 4.5em;
    margin-bottom: 10px;

}

#box1 h4{
    color: gray;
    font-size: 1.5em;
    padding-top: 20px;
    margin-bottom: 35px;
}

#Card {
    background-color: rgba(180, 120, 255, 0.15);
    border-radius: 20px;
    color: #7A1FFF;
    border: 1px solid rgba(180, 120, 255, 0.3);
    font-size: 1em;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    margin-bottom: 30px;
}

#Ponto {
    width: 6px;
    height: 6px;
    background-color: #7A1FFF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#box1_img {
    width: 500px;
    height: 450px;
}

#box1_img_Effect {
    width: 400px;
    height: 400px;
    background-color: #500080;
    border-radius: 50%;
    position: absolute;
    filter: blur(150px);
}

#box1_part1 {
    grid-column-start: 2;
}

#box1_part2 {
    grid-column-start: 4;
}

#SaibaMaisButton {
    position: relative;
    z-index: 1;
    border: none;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(
        120deg,
        #7A1FFF,
        #9B2BFF
    );
    transition: all 0.3s ease-in-out;
}

#SaibaMaisButton:hover {
    cursor: pointer;
    border: transparent;
    width: 180px;
    background: linear-gradient(
        120deg,
        #7A1FFF,
        #9B2BFF
    );
}

#SaibaMaisButtonEffects {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#SaibaMaisButtonEffects:hover .glow {
    transform: scale(1.2);
    opacity: 0.5;
}

#box1_textDisplay {
    display: flex;
    gap: 50px;
}