#Title-ComoTrabalhamos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    height: 10vh;
    width: 100%;
    z-index: 1;
    color: purple;
    text-align: center;
    padding: 5% 0 3% 0;
}

.TitlePhrase {

    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 375;
    height: 5vh;
    width: 100%;
    z-index: 1;
    color: rgb(145, 145, 145);
}

#BoxRow {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 20vh;
    width: 100;
    z-index: 1;
    padding: 0 4%;
    gap: 2%;
}

#BoxContainer {
    border-radius: 15px;
    border: 2px solid rgb(222, 225, 226);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 0.75%;
}

#BoxContent {
    padding: 7% 5%;
}

#iconBox {
    font-size: 2rem;
    background: linear-gradient(
        120deg,
        #7f0ebd,
        #a718c4
    );
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.ptitle{
    font-size: 1.3rem;
    font-weight: 550;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    padding: 13px 0px;
    margin-bottom: auto;
}
.ptext{
    font-size: 1rem;
    font-weight: 375;
    color: rgb(87, 87, 87);
    font-family: "Inter", sans-serif;
}