#box3 {
    height: fit-content;
    padding-bottom: 17vh;
}

.TitlePhrase {
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 375;
    color: rgb(145, 145, 145);

    height: 5vh;
    width: 100%;
    z-index: 1;
    max-width: 60%;

    line-height: 30px;

    padding-top: 25px;
}
#Title-OqueFazemos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    height: 10vh;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 5% 0 3% 0;
}

#Title-OqueFazemos h3 {
    display: flexbox;
    justify-items: center;
    color: black;
    width: 65%;
}

#BoxGrid {
    display: grid;
    grid-template-columns: repeat(3,auto);
    height: 35vh;
    width: 100;
    z-index: 1;
    padding: 0 10%;
    gap: 2%;
    grid-row-gap: 10%;
}

.ptitle2{
    font-size: 1.4rem;
    font-weight: 550;
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
}
.ptext2{
    font-size: 1.1rem;
    font-weight: 375;
    color: rgb(87, 87, 87);
    font-family: "Inter", sans-serif;
}

.BoxContent2 {
    text-align: justify;
    max-width: fit-content;
    padding: 6% 6%;
    justify-content: center;
    align-items: center;
}

.icon-text-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    color: white;
}

.icon-holder {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        120deg,
        #7f0ebd,
        #a718c4
    );
    border-radius: 20%;
}