.box4_boxes {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    padding: 2%;
    transition: all 0.1s ease-in-out;
}

.box4_boxes:hover {
    padding-right: 5%;
}

.box4_boxes img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.box4_boxes p {
    font-size: 1.2em;
    font-weight: bold;
}

.box4_boxes h3 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 5px;
}

#box4{
    background: linear-gradient(
        220deg, 
        #000000,
        #500080
    );
    height: 75vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 15% 1fr 3% 1fr 15%;
    font-family: "Inter", sans-serif;
    color: white;
}

#box4_part1 {
    grid-column: 2;
}

#box4_part1 p {
    font-size: 2.5rem;
}

#box4_part1 h3 {
    font-size: 1.2rem;
    color: rgb(168, 168, 168);
    margin-top: 10px;
    font-weight: 300;
    line-height: 1.5;
}

#box4_check {
    margin-top: 35px;
}

.box4-inline-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.box4_icon {
    margin-right: 10px;
    color: #9B2BFF;
}

.box4-2-icon {
    color: white;
}

.box4-2-icon-holder {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        120deg,
        #7f0ebd,
        #a718c4
    );
    border-radius: 20%;
    margin-right: 15px;
}


#box4_check p {
    font-size: 1.2rem;
}

#box4_part2 {
    grid-column: 4;
    color: black;
}

#box4_margin20{
    margin-bottom: 25px;
}