#box6 {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#box6_comentario {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#box6_comentario p {
    font-size: 2.7em;
}

#box6_comentario h3 {
    font-size: 1.2em;
    color: gray;
    margin-top: 30px;
}

#box6_perguntas {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 75px;
}

#box6_perguntas .pergunta {
    margin: 0.5%;
    background-color: white;
    border-radius: 15px;
    width: 55%;
    height: 45px;
    padding: 0.6% 2%;
    color: black;
    border: 1px solid #9664C84D;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

#box6_perguntas .pergunta.ativo {
    border: 1px solid #9B2BFF;
}

#box6_perguntas .pergunta p {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    height: 45px;
}

#box6_perguntas .pergunta:hover p {
    color: #9B2BFF;
}

#box6_perguntas .pergunta h3 {
    font-weight: 300;
    font-size: 1em;
    color: gray;
    margin-top: 15px;
}