footer {
    color: white;
    background-color: rgb(20,10,40);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 1fr;
}

#DireitosReservados {
    color: gray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(60,40,80,0.7) 2px solid;
    transform: translate(0,-2px);
}

#DireitosReservados h3 {
    font-size: 1em;
    text-align: center;
}

#Footer_Conteudo {
    display: grid;
    justify-items: center;
    align-items: top;
    grid-template-columns: repeat(4, 1fr);
    margin: 2% 10%;
    gap: 1%;
}

#Footer_Conteudo p {
    font-weight: bold;
    font-size: 1em;
    line-height: 40px;
}

#Footer_Conteudo h4 {
    font-size: 1em;
    line-height: 25px;
    color: gray;
    font-weight: 300;
    width: 80%;
}

#Footer_Conteudo h3 {
    font-size: 1em;
    line-height: 40px;
    color: gray;
    transition: all 0.1s ease-in-out;
    font-weight: 300;
}

#Footer_Conteudo h3:hover {
    cursor: pointer;
    color: #791fff81;
}

#footer_logo {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

#footer_icons img {
    width: 50px;
    height: 50px;
    margin-top: 35px;
    margin-right: 30px;
    margin-left: 10px;
}