header{
    width: 100%;
    height: 75px;
    background-color: black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 100px;
    z-index: 10;
    position: fixed;
    transform: translate(-50%,-50%);
    top: calc(75px / 2 - 0.1px);
    left: 50%;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#Consultoria_Button{
    font-family: "Inter", sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    background: linear-gradient(
        180deg,
        #ffffff,
        #f3e8ff,
        #c084fc,
        #9c6dec
    );
    background-size: 150% 300%;
    background-position: top;
    border: none;
    font-size: 1.2em;
    text-align: center;
    transition: all 0.3s ease-in-out;
    transform: translate(5px,0);
}

#Consultoria_Button:hover{
    cursor: pointer;
    background-position: bottom;
    color: purple;
    transform: translate(15px,0);
    font-size: 1.3em;
    width: 220px;
}

#header_links{
    font-family: "Inter", sans-serif;
    color: gray;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#header_links div{
    transition: all 0.2s ease-in-out;
}

#header_links div:hover{
    color: white;
    cursor: pointer;
}

#logo{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}